@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.LNDhubApi.Views
@model BTCPayServer.Plugins.LNDhubApi.Models.IndexViewModel
@{
    ViewData.SetActivePage(LNDhubApiNavPages.Index, "LNDhub API");
}
<h1>@ViewData["Title"]</h1>
